<a href="https://colab.research.google.com/github/dhanushch18/Indroduction-to-Python/blob/main/Untitled04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#swapping

a=10
b=20

d=a
a=b
b=d

print("first num is "  +str(a) + "second num is " +str(b))

first num is 20second num is 10

In [19]:
#list

name="dhanush"
print(name[5])

s

In [20]:
name="dhanush"
print(name[5])
print(name)

s
dhanush

In [21]:
names=("ch","17","18")

print(names)

('ch', '17', '18')